[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Benowit
[access "refs/for/refs/*"]
	read = group user/Benowit
	push = group user/Benowit
	label-Code-Review = -2..+2 group user/Benowit
	label-Verified = -1..+1 group user/Benowit
	rebase = group user/Benowit
	removeReviewer = group user/Benowit
	submit = group user/Benowit
[access "refs/heads/*"]
	read = group user/Benowit
	create = group user/Benowit
	push = +force group user/Benowit
	pushMerge = group user/Benowit
[access "refs/tags/*"]
	push = +force group user/Benowit
	createTag = group user/Benowit
	createSignedTag = group user/Benowit
